[submodule "deps/unicorn"]
	path = deps/unicorn
	url = ../unicorn.git
	shallow = true
	branch = dev
[submodule "deps/phnt"]
	path = deps/phnt
	url = ../phnt.git
	shallow = true
[submodule "deps/reflect"]
	path = deps/reflect
	url = https://github.com/qlibs/reflect.git
	shallow = true
[submodule "deps/mini-gdbstub"]
	path = deps/mini-gdbstub
	url = ../mini-gdbstub.git
	shallow = true
