[submodule "deps/unicorn"]
	path = deps/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
	shallow = true
	branch = dev
[submodule "deps/phnt"]
	path = deps/phnt
	url = https://github.com/winsiderss/phnt.git
[submodule "deps/reflect"]
	path = deps/reflect
	url = https://github.com/qlibs/reflect.git
